#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .add {
    display: flex;
    justify-content: center;
    width: 80%;
    
    input {
      width: 42%;
      height: 2rem;
      left: 2rem;
    }
  }
  .todort {
    display: flex;
    justify-content: center;
    width: 76%;
    input {
      width: 100%;
      height: 2rem;
      left: 2rem;
    }
  }
  .todos {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 76%;
    .todo {
      display: flex;
      justify-content: space-between;
      place-items: center;
      color: #aaa;
      // color: rgb(235, 216, 216);
      background-color: #fff;
      padding: 0 .7rem;
      height: 2rem;
      min-width: 95%;
      border-bottom: 1px solid #aaa;
      input:checked + span{
        text-decoration: line-through;
      }
  
    }
  }
}
